<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <b:import resource="spring_config.xml" />

    <http use-expressions="true">
        <intercept-url pattern="/railway" access="permitAll" />
        <intercept-url pattern="/railway/user/**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" />
        <intercept-url pattern="/railway/admin/**" access="hasRole('ROLE_ADMIN')" />
        <form-login  login-page="/railway/login"
                     username-parameter="login"
                     password-parameter="password"
                     login-processing-url="/railway/login/process"
                     default-target-url="/railway/login/result"
                     authentication-failure-url="/railway/login/error" />
        <http-basic />
        <logout logout-success-url="/railway/logout/result"
                logout-url="/railway/logout" />
        <remember-me user-service-ref="customUserDetailsService" key="myKey" token-validity-seconds="300"/>
        <csrf disabled="true"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="customUserDetailsService"/>
    </authentication-manager>

    <b:bean id="customUserDetailsService" class="system.security.CustomUserDetailsService">
        <b:property name="userService" ref="userService" />
    </b:bean>

</b:beans>