/*Style for passenger_login_page*/
body {
    margin: 0px;
}

.text{
    font: 18pt Calibri;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
}

.logsection{
    width: 100%;
    height: 100vh;
    background-image: url("../../static/img/train.jpg");
    background-position: center;
    background-size: cover;
    display: table;
}

.logdiv{
    width: 280px;
    padding: 20px;
    margin: 0px auto;
    background-color: lightgrey;
}

.loginputline{
    margin-bottom: 10px;
}

.loginputline p{
    float: left;
    margin: 0px;
    padding-right: 5px;
    width: 100px;
    font: 18pt Calibri;
    margin-top: 2px;
}

.inputfield{
    width: 165px;
    font: 18pt Calibri;
    border: 2px solid red;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.inputfield.correct{
    border: 2px solid green;
}

.buttonblock {
    margin: 0px auto;
    display: table;
}

.button{
    margin: 0px 10px;
    font: 18pt Calibri
}

/*Style for passengers_register_page*/
.regdiv{
    width: 420px;
    padding: 20px;
    margin: 0px auto;
    background-color: lightgrey;
}

.reginputline{
    margin-bottom: 5px;
}

.reginputfield{
    width: 220px;
    font: 18pt Calibri;
    border: 2px solid red;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.reginputfield.correct{
    border: 2px solid green;
}

.reghint{
    margin-bottom: 5px;
    font: 10pt Calibri;
    font-style: italic;
}

.reginputline p{
    float: left;
    margin: 0px;
    padding-right: 5px;
    width: 190px;
    font: 18pt Calibri;
    margin-top: 2px;
}

/*Style for passenger_incorrect_login_page*/
.incorrectlogdiv{
    width: 380px;
    padding: 20px;
    margin: 0px auto;
    background-color: lightgrey;
}

.incorrectinputtext{
    font: 18pt Calibri;
    margin-bottom: 10px;
    text-align: center;
}

/*Style for passenger_account_page*/
.accountsection{
    width: 100%;
    height: 100vh;
    background-image: url("../../static/img/train_acc.jpg");
    background-position: center;
    background-size: cover;
    display: table;
}

.logoutdiv{
    width: 100%;
}

.welcometext{
    font: 18pt Calibri;
    margin: 20px 20px;
    float: left;
}

.logoutbutton{
    margin: 20px 20px;
    font: 18pt Calibri;
    float: right;
}

.accountdiv{
     width: 170px;
     padding: 20px;
     margin: 0px auto;
     background-color: lightgrey;
 }

.button2{
    margin: 10px 10px;
    font: 18pt Calibri;
    width: 150px;
}

/*Style for admin_account_page*/
.adminaccountdiv{
    width: 210px;
    padding: 20px;
    margin: 0px auto;
    background-color: lightgrey;
}

.button3{
    margin: 10px 10px;
    font: 18pt Calibri;
    width: 190px;
}

/*Styles for train number input*/
.ticketbuydiv{
    width: 315px;
    padding: 20px;
    margin: 0px auto;
    background-color: lightgrey;
}

.trainnumberinputline{
    margin-bottom: 5px;
}

.trainnumberinputline p{
    float: left;
    margin: 0px;
    padding-right: 5px;
    width: 210px;
    font: 18pt Calibri;
    margin-top: 2px;
}

.smallinputfield{
    width: 125px;
    font: 18pt Calibri;
    border: 2px solid red;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.smallinputfield.correct{
    border: 2px solid green;
}

/*Styles for train-ticket list*/
.table{
    border-collapse: collapse;
    margin: 0px auto;
    margin-bottom: 20px;
    text-align: center;
    font: 18pt Calibri;
}

.tableheader{
    border: 2px solid black;
    padding: 5px;
}

.tablecell{
    border: 2px solid black;
    padding: 5px;
}

/*Styles for correct ticket buy*/
.button4{
    margin-bottom: 10px;
    font: 18pt Calibri;
}

/*Styles for station name input*/
.stationnamediv{
    width: 435px;
    padding: 20px;
    margin: 0px auto;
    background-color: lightgrey;
}

.largeinputfield{
    width: 220px;
    font: 18pt Calibri;
    border: 2px solid red;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.largeinputfield.correct{
    border: 2px solid green;
}

/*Styles for schedule info page*/
.tablecaption{
    width: 320px;
}

/*Styles for passenger_login_result_page*/
.loginsuccessfullpage{
    font: 18pt Calibri;
    text-align: center;
}

/*Styles for schedule_info_page*/
.scheduleinfodiv{
    width: 480px;
    padding: 20px;
    margin: 0px auto;
    background-color: lightgrey;
}

.tablecaption2{
    margin-bottom: 20px;
}

.button5{
    margin-left: 20px;
    font: 18pt Calibri;
}

/*Styles for train_list_page*/
.trainlistdiv{
    width: 710px;
    padding: 20px;
    margin: 0px auto;
    background-color: lightgrey;
}